html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: pink;
  color: #fff;
  font-size: 12px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* 顶部导航样式 */
header {
  height: 40px;
  line-height: 40px;
  background: black;
  position: relative;
  overflow: hidden;
}
