<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>济宁博物馆可视化专家系统</title>
	<link rel="stylesheet" href="//at.alicdn.com/t/font_1522000_su4dv2q9557.css">
	<link rel="stylesheet" href="./css/swiper.min.css">
	<link rel="stylesheet" href="./css/number.css">
	<link rel="stylesheet" href="./css/index.css">
</head>
<body>
	<div id="app" v-cloak>	
		<header>
			<h3>济宁市博物馆数据统计交互展示系统</h3>
		</header>
		<div class="weather" v-if="weather&&air">
			<div class="item" v-if="weather">
				<img :src="'./imgs/weather/'+weather.cond_code+'.png'" alt=""><span class="wen" :style="{color:wlist[windex]}">{{weather.tmp}}℃</span>
			</div>
			<div class="item" v-if="air">
				<i class="iconfont iconshuye" :class="{'you':air.aqi<=50,'liang':air.aqi>50&&air.aqi<=100,'qingdu':air.aqi>100&&air.aqi<=150,'zhongdu':air.aqi>150&&air.aqi<=200,'yan':air.aqi>200&&air.aqi<=300,'chao':air.aqi>300}"></i>
			
					<span>{{air.aqi}}</span>
					<span class="p" :class="{'you':air.aqi<=50,'liang':air.aqi>50&&air.aqi<=100,'qingdu':air.aqi>100&&air.aqi<=150,'zhongdu':air.aqi>150&&air.aqi<=200,'yan':air.aqi>200&&air.aqi<=300,'chao':air.aqi>300}">{{air.qlty}}</span>
				
				
			</div>
		</div>
		<div class="week-wrapper" v-if="day&&time&&week">
			<span class="date">{{day}}</span>
			<span class="time">{{time}}</span>
			<span class="week">{{week}}</span>
		</div>
		<div id="world"></div>
		<div class="e"></div>
		<div class="n"></div>
		<div class="w"></div>
		<div class="s"></div>
		<div class="num1">
			<div class="nums-inner">6500033</div></div>
		<div class="num2"><div class="nums-inner">35000</div></div>
		<div class="num3"><div class="nums-inner">25000</div></div>
		<div class="num4"><div class="nums-inner">15000</div></div>
		<!-- 左侧部分 -->
		<div class="dao"></div>
		<div class="line"></div>
		<div class="left">
			<div class="list-item">
				<h3>观众来源</h3>
				<div class="wrapper container swiper-container" id="banner">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
								<ul class="scroll">
									<li v-for="(item,index) in area" :key="index">
										<span class="name">{{item.name}}</span>
										<div class="bar" >
											<div class="num">{{item.value}}</div>
											<div class="inner" :style="{width:100*item.pre+'%'}"></div>
										</div>
										<div class="rank" :class="{'rank1':index<=2}">NO.{{(index+1)}}</div>
									</li>
								</ul>
						</div>
						<div class="swiper-slide">
								<ul class="scroll">
									<li v-for="(item,index) in area" :key="index">
										<span class="name">{{item.name}}</span>
										<div class="bar" >
											<div class="num">{{item.value}}</div>
											<div class="inner" :style="{width:100*item.pre+'%'}"></div>
										</div>
										<div class="rank" :class="{'rank1':index<=2}">NO.{{(index+1)}}</div>
									</li>
								</ul>
						</div>
					</div>
				
					<!-- <ul class="scroll">
						<li v-for="(item,index) in area" :key="index">
							<span class="name">{{item.name}}</span>
							<div class="bar">
								<div class="num">{{item.value}}</div>
								<div class="inner" :style="{width:100*item.pre+'%'}"></div>
							</div>
							<div class="rank" :class="{'rank1':index<=2}">NO.{{(index+1)}}</div>
						</li>
					</ul> -->
				</div>
			</div>
			<div class="list-item">
				<h3>观众年龄</h3>
				<div id="echart-1"></div>
			</div>
			<div class="list-item item-last">
				<div class="item-r">
					<h3>观众性别</h3>
					<div id="echart-2"></div>
					<p><span class="women">女性 <span class="nums">58</span>% </span> <span class="man">男性 <span class="nums">42</span>%</span> </p>
				</div>
				<div class="item-r">
					<h3>预约证件</h3>
					<div id="echart-3"></div>
					<p>其他证件 <span class="nums">40</span>%</p>
				</div>
			</div>
		</div>
		<!-- 右侧部分 -->
		<div class="right">
			<div class="list-item">
				<h3>客流趋势</h3>
				<div id="echart-4" class="echart"></div>
				<div class="current">当前在馆人数：<span class="nums">2,180</span></div>
			</div>
			<hr>
			<div class="list-item">
				<div id="echart-5" class="echart"></div>
				<div class="current current2">本月累计：<span class="nums">28,120 </span></div>
			</div>
			<hr>
			<div class="list-item">
				<div id="echart-6" class="echart"></div>
				<div class="current current2">累计到馆：<span class="nums">548,923  </span></div>
			</div>
		</div>
	</div>

	<script src="./js/jquery-1.12.4.min.js"></script>
	<script>
	 $.noConflict();
	</script>
	<script src="js/swiper3.4.2.jquery.min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.min.js"></script>
	<script src="js/number.js"></script>
	<script src="js/echarts.min.js"></script>
	<script src="js/world.js"></script>
	<script src="js/count_data.js"> </script>
	<script src="js/vue.min.2.2.2.js"></script>
	<script src="js/index.js"></script>
</body>
</html>